
.header{
    display: flex;
    justify-content: space-between;
    background-color: orange;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
    
}
#logo{
    height: 70px;
    padding: 10px;
}
#logo img{
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    
}
#info ul{
    display: flex;
}
#info ul li{
    list-style-type: none;
    padding: 10px;
    font-size: 20px;
    color: rgb(213, 1, 1);
    cursor: pointer;
}
.ResContainer{
    display: flex;
    flex-wrap: wrap;
}
#rescard{
    border: 1px solid black;
    margin: 10px;
    height: 200px;
    width: 200px;
}
h1{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;

}
img{
    width: 100%;
    height: 50%;
}
.search{
    margin:10px;
}